<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="profile-page">
{% include "partials/navbar.html" %}
<div id="suggestions" class="suggestions-box"></div>
    <div class="profile-card">
        <h1>Привет, {{ user.username }}!</h1>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Имя:</strong> {{ user.first_name }}</p>
        <p><strong>Фамилия:</strong> {{ user.last_name }}</p>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="logout-button">Выйти</button>
        </form>
    </div>

    <div class="reviews-section">
      <h2>Мои рецензии</h2>
      {% if reviews %}
        <ul class="review-list">
          {% for review in reviews %}
            <li>
              <strong>{{ review.movie.title }}</strong> —
              <em>{{ review.created_at|date:"d.m.Y" }}</em><br>
              <span class="review-snippet">
                ★ {{ review.rating }} — {{ review.text|truncatechars:100 }}
              </span>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>У вас пока нет рецензий.</p>
      {% endif %}
    </div>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>
